<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>RussianThai</string>
	<key>CFBundleDisplayName</key>
	<string>Russian Thai v. 0.9 (Ru-Th)</string>
	<key>CFBundleName</key>
	<string>RussianThai</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>(c) V-I-C, 2010-2013.</string>
	<key>DCSDictionaryXSL</key>
	<string></string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		
	</dict>
	<key>DCSDictionaryPrefsHTML</key>
	<string></string>
	
</dict>
</plist>