<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DCSDictionaryPrimaryLanguage</key>
	<string>th</string>
	<key>DCSDictionaryLanguages</key>
	<array>
		<dict>
			<key>DCSDictionaryIndexLanguage</key>
			<string>th</string>
			<key>DCSDictionaryDescriptionLanguage</key>
			<string>th</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.codustry.dictionary.th.SEASite</string>
	<key>CFBundleName</key>
	<string>SEASite</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright © 2016 Codustry Laboratory</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Codustry</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>dictionary</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string></string>
	<key>DCSDictionaryXSL</key>
	<string></string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict/>
</dict>
</plist>
