<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.codustry.dictionary.ThaiChinese</string>
	<key>CFBundleDisplayName</key>
	<string>Thai-Chinese Dictionary</string>
	<key>CFBundleName</key>
	<string>Thai-Chinese</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>DICT2U | Thai-Chinese&lt;br&gt;Developed 2016 by Codustry Laboratory</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Codustry Laboratory</string>
	<key>DCSDictionaryXSL</key>
	<string></string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict/>
	<key>DCSDictionaryPrefsHTML</key>
	<string></string>
</dict>
</plist>
